<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.dao.IsCyxxMapper">
  <resultMap id="BaseResultMap" type="com.middle.entity.IsCyxx">
    <result column="pkid00" jdbcType="VARCHAR" property="pkid00" />
    <result column="cyrq00" jdbcType="VARCHAR" property="cyrq00" />
    <result column="cyzd00" jdbcType="VARCHAR" property="cyzd00" />
  </resultMap>
  <insert id="insert" parameterType="com.middle.entity.IsCyxx">
    insert into is_cyxx (pkid00, cyrq00, cyzd00
      )
    values (#{pkid00,jdbcType=VARCHAR}, #{cyrq00,jdbcType=VARCHAR}, #{cyzd00,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.middle.entity.IsCyxx">
    insert into is_cyxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid00 != null">
        pkid00,
      </if>
      <if test="cyrq00 != null">
        cyrq00,
      </if>
      <if test="cyzd00 != null">
        cyzd00,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid00 != null">
        #{pkid00,jdbcType=VARCHAR},
      </if>
      <if test="cyrq00 != null">
        #{cyrq00,jdbcType=VARCHAR},
      </if>
      <if test="cyzd00 != null">
        #{cyzd00,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getId" parameterType="String" resultType="com.middle.entity.IsCyxx">
    SELECT * from is_cyxx where pkid00 = #{id}
  </select>
</mapper>