<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.dao.IsDbspMapper">
  <resultMap id="BaseResultMap" type="com.middle.entity.IsDbsp">
    <result column="pkid" jdbcType="VARCHAR" property="pkid" />
    <result column="sbcwpc" jdbcType="VARCHAR" property="sbcwpc" />
    <result column="jzlx00" jdbcType="VARCHAR" property="jzlx00" />
    <result column="fwwdbh" jdbcType="VARCHAR" property="fwwdbh" />
  </resultMap>
  <insert id="insert" parameterType="com.middle.entity.IsDbsp">
    insert into is_dbsp (pkid, sbcwpc, jzlx00,fwwdbh,fzxbh0,isFileup
      )
    values (#{pkid,jdbcType=VARCHAR}, #{sbcwpc,jdbcType=VARCHAR}, #{jzlx00,jdbcType=VARCHAR}
    , #{fwwdbh,jdbcType=VARCHAR},#{fzxbh0,jdbcType=VARCHAR},0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.middle.entity.IsDbsp">
    insert into is_dbsp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        pkid,
      </if>
      <if test="sbcwpc != null">
        sbcwpc,
      </if>
      <if test="jzlx00 != null">
        jzlx00,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        #{pkid,jdbcType=VARCHAR},
      </if>
      <if test="sbcwpc != null">
        #{sbcwpc,jdbcType=VARCHAR},
      </if>
      <if test="jzlx00 != null">
        #{jzlx00,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getId" parameterType="String" resultType="com.middle.entity.IsDbsp">
     SELECT * from is_dbsp where pkid = #{id}
  </select>
  <select id="getDBSP"  resultType="com.middle.entity.IsDbsp">
    SELECT a.* from is_dbsp a,is_zyxx b where a.pkid=b.pkid00 and a.isFileup = 0 and b.zyrq00 LIKE  '%2019%'  </select>
  <update id="updateisFileup"  parameterType="String">
    update is_dbsp set isFileup = 1 where pkid = #{id}
  </update>

</mapper>