<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.dao.IsGrxxMapper">
  <resultMap id="BaseResultMap" type="com.middle.entity.IsGrxx">
    <result column="pkid" jdbcType="VARCHAR" property="pkid" />
    <result column="ywlx00" jdbcType="VARCHAR" property="ywlx00" />
    <result column="xming0" jdbcType="VARCHAR" property="xming0" />
    <result column="xbie00" jdbcType="VARCHAR" property="xbie00" />
    <result column="cbzt00" jdbcType="VARCHAR" property="cbzt00" />
    <result column="id0000" jdbcType="VARCHAR" property="id0000" />
    <result column="xsetx0" jdbcType="VARCHAR" property="xsetx0" />
  </resultMap>
  <insert id="insert" parameterType="com.middle.entity.IsGrxx">
    insert into is_grxx (pkid, ywlx00, xming0,
      xbie00, cbzt00, id0000,
      xsetx0)
    values (#{pkid,jdbcType=VARCHAR}, #{ywlx00,jdbcType=VARCHAR}, #{xming0,jdbcType=VARCHAR},
      #{xbie00,jdbcType=VARCHAR}, #{cbzt00,jdbcType=VARCHAR}, #{id0000,jdbcType=VARCHAR},
      #{xsetx0,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.middle.entity.IsGrxx">
update is_grxx set ywlx00=#{ywlx00,jdbcType=VARCHAR},xming0=#{xming0,jdbcType=VARCHAR},xbie00=#{xbie00,jdbcType=VARCHAR}
,cbzt00=#{cbzt00,jdbcType=VARCHAR},id0000=#{id0000,jdbcType=VARCHAR},xsetx0=#{xsetx0,jdbcType=VARCHAR}
where pkid=#{pkid,jdbcType=VARCHAR}
  </update>
  <insert id="insertSelective" parameterType="com.middle.entity.IsGrxx">
    insert into is_grxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        pkid,
      </if>
      <if test="ywlx00 != null">
        ywlx00,
      </if>
      <if test="xming0 != null">
        xming0,
      </if>
      <if test="xbie00 != null">
        xbie00,
      </if>
      <if test="cbzt00 != null">
        cbzt00,
      </if>
      <if test="id0000 != null">
        id0000,
      </if>
      <if test="xsetx0 != null">
        xsetx0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        #{pkid,jdbcType=VARCHAR},
      </if>
      <if test="ywlx00 != null">
        #{ywlx00,jdbcType=VARCHAR},
      </if>
      <if test="xming0 != null">
        #{xming0,jdbcType=VARCHAR},
      </if>
      <if test="xbie00 != null">
        #{xbie00,jdbcType=VARCHAR},
      </if>
      <if test="cbzt00 != null">
        #{cbzt00,jdbcType=VARCHAR},
      </if>
      <if test="id0000 != null">
        #{id0000,jdbcType=VARCHAR},
      </if>
      <if test="xsetx0 != null">
        #{xsetx0,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getId" parameterType="String" resultType="com.middle.entity.IsGrxx">
    SELECT * from is_grxx where pkid = #{id}
  </select>
</mapper>