<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.dao.IslpztMapper">
  <resultMap id="BaseResultMap" type="com.middle.entity.Islpzt">
    <result column="dbspid" jdbcType="VARCHAR" property="dbspid" />
    <result column="id0000" jdbcType="VARCHAR" property="id0000" />
    <result column="lpzt00" jdbcType="VARCHAR" property="lpzt00" />
    <result column="lpsbyy" jdbcType="VARCHAR" property="lpsbyy" />
    <result column="lprq00" jdbcType="VARCHAR" property="lprq00" />
    <result column="zylsh0" jdbcType="VARCHAR" property="zylsh0" />
    <result column="djlsh0" jdbcType="VARCHAR" property="djlsh0" />
  </resultMap>
  <insert id="insert" parameterType="com.middle.entity.Islpzt">
    insert into is_lpzt (dbspid, id0000, lpzt00, 
      lpsbyy, lprq00, zylsh0, 
      djlsh0)
    values (#{dbspid,jdbcType=VARCHAR}, #{id0000,jdbcType=VARCHAR}, #{lpzt00,jdbcType=VARCHAR}, 
      #{lpsbyy,jdbcType=VARCHAR}, #{lprq00,jdbcType=VARCHAR}, #{zylsh0,jdbcType=VARCHAR}, 
      #{djlsh0,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.middle.entity.Islpzt">
    insert into is_lpzt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbspid != null">
        dbspid,
      </if>
      <if test="id0000 != null">
        id0000,
      </if>
      <if test="lpzt00 != null">
        lpzt00,
      </if>
      <if test="lpsbyy != null">
        lpsbyy,
      </if>
      <if test="lprq00 != null">
        lprq00,
      </if>
      <if test="zylsh0 != null">
        zylsh0,
      </if>
      <if test="djlsh0 != null">
        djlsh0,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbspid != null">
        #{dbspid,jdbcType=VARCHAR},
      </if>
      <if test="id0000 != null">
        #{id0000,jdbcType=VARCHAR},
      </if>
      <if test="lpzt00 != null">
        #{lpzt00,jdbcType=VARCHAR},
      </if>
      <if test="lpsbyy != null">
        #{lpsbyy,jdbcType=VARCHAR},
      </if>
      <if test="lprq00 != null">
        #{lprq00,jdbcType=VARCHAR},
      </if>
      <if test="zylsh0 != null">
        #{zylsh0,jdbcType=VARCHAR},
      </if>
      <if test="djlsh0 != null">
        #{djlsh0,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>